@model IEnumerable<AssignmentTwo.Models.ScheduleMembers>

@{
    ViewData["Title"] = "Showenrolmembers";
}

<h2>Showenrolmembers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberEmail)
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Myschedule">Back to List</a>